In [1]:
## load 
import pandas as pd
#dataset = pd.read_csv('Data/Adult/adult.data1.csv', sep=';')
dataset = pd.read_csv('Data/Adult/adult.data1.csv', sep=';', na_values='?')

In [2]:
#dataset

In [3]:
print(dataset.isna().sum())

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
Probability       0
dtype: int64

In [4]:
## Drop NULL values
dataset = dataset.dropna()

In [5]:
#dataset

In [6]:
print(dataset.isna().sum())

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
Probability       0
dtype: int64

In [7]:
print(dataset.head())

   age          workclass  fnlwgt   education  education-num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital-status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital-gain  capital-loss  hours-per-week  native-country Probability
0          2174             0              40   United-States       <=50K
1             0             0              13   United-States       <=50K
2             0             0              40   United-States       <=50K
3             0             0              40   United-States       <=50K
4             0             0              40            Cuba       <=50K

In [8]:
## check NULL values
print (dataset.isnull().values.sum())

0

In [9]:
## drop NULL values
dataset = dataset.dropna()

In [10]:
##number of rows
print("Number of rows: ",dataset.shape[0])

Number of rows:  48842

In [11]:
#print(dataset.age)

In [12]:
#print(dataset.sex)

In [13]:
#print(dataset.race)

In [14]:
#print(dataset.Probability)

In [15]:
#Change symbolics to numerics 
import numpy as np
dataset['sex'] = np.where(dataset['sex'] == ' Male', 1, 0)
dataset['race'] = np.where(dataset['race'] != ' White',1, 0)
dataset['Probability'] = np.where(dataset['Probability'] == ' <=50K', 0, 1)
#dataset['sex'] = dataset['sex'].map({'Male':0, 'female':1})

In [16]:
#print(dataset.Probability)

In [17]:
#print(dataset.race)

In [18]:
#print(dataset.sex)

In [19]:
#print(dataset.age)

In [20]:
## Discretize age
dataset['age'] = np.where(dataset['age'] >= 70, 70, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 60 ) & (dataset['age'] < 70), 60, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 50 ) & (dataset['age'] < 60), 50, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 40 ) & (dataset['age'] < 50), 40, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 30 ) & (dataset['age'] < 40), 30, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 20 ) & (dataset['age'] < 30), 20, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 10 ) & (dataset['age'] < 10), 10, dataset['age'])
dataset['age'] = np.where(dataset['age'] < 10, 0, dataset['age'])

In [21]:
#print(dataset.age)

In [22]:
 #dataset.to_csv('Data/Adult/datanew.csv', index=False)

In [23]:
print(dataset.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'Probability'],
      dtype='object')

In [24]:
#print(dataset)

In [25]:
print(dataset['native-country'].unique())

[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']

In [26]:
#print(dataset['education'].unique())

In [27]:
#print(dataset['relationship'].unique())

In [28]:
#print(dataset['occupation'].unique())

In [29]:
#dataset

In [30]:
#print(dataset.columns)

In [31]:
## drop categorical features 
##categorical_col = ['occupation','relationship','education','native-country','workclass','fnlwgt','marital-status']
##dataset = dataset.drop(categorical_col, axis=1)

In [32]:
#dataset

In [33]:
#print(dataset.columns)

In [34]:
##from sklearn.preprocessing import MinMaxScaler 
##scaler = MinMaxScaler()
##dataset = pd.DataFrame(scaler.fit_transform(dataset), columns = dataset.columns)

In [35]:
#dataset

In [36]:
 #Save 
#dataset.to_csv('Data/Adult/datanew.csv', index=False)

In [37]:
#dataset['workclass'].value_counts()

In [38]:
#dataset['workclass'].unique()

In [39]:
#dataset['education'].value_counts()

In [40]:
#dataset['occupation'].value_counts()

In [41]:
#dataset['native-country'].value_counts()

In [26]:
## Replace '?' marks with 'NA'
dataset = dataset.astype(str)
dataset = dataset.apply(lambda x: x.str.strip())
dataset = dataset.replace('?', 'NA')

In [43]:
#dataset

In [44]:
#print(dataset.columns)

In [45]:
#dataset

In [46]:
#dataset['workclass'].unique()

In [47]:
#dataset['workclass'].value_counts()

In [27]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

dataset.workclass = label_encoder.fit_transform(dataset.workclass)
dataset.occupation = label_encoder.fit_transform(dataset.occupation)
dataset.relationship = label_encoder.fit_transform(dataset.relationship)
dataset.education = label_encoder.fit_transform(dataset.education)

dataset = dataset.rename(columns={'native-country': 'native_country'})
dataset = dataset.rename(columns={'marital-status': 'marital_status'})

dataset.native_country = label_encoder.fit_transform(dataset.native_country)
dataset.marital_status = label_encoder.fit_transform(dataset.marital_status)

In [49]:
#dataset.workclass

In [50]:
## Covert as category from int number 
#dataset.workclass = dataset.workclass.astype('category')
#dataset.occupation = dataset.occupation.astype('category')
#dataset.relationship = dataset.relationship.astype('category')
#dataset.native_country = dataset.native_country.astype('category')
#dataset.marital_status = dataset.marital_status.astype('category')

In [51]:
#dataset['fnlwgt'].value_counts()

In [52]:
#dataset['capital-loss'].value_counts()

In [53]:
#dataset.describe(include = 'all')

In [54]:
#dataset.head(50)

In [55]:
#dataset['marital_status'].value_counts()

In [28]:
dataset.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native_country',
       'Probability'],
      dtype='object')

In [41]:
dataset

,age,workclass,fnlwgt,education,education-num,marital_status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native_country,Probability
0,30,7,77516,9,13,4,0,1,0,1,2174,0,40,39,0
1,50,6,83311,9,13,2,3,0,0,1,0,0,13,39,0
2,30,4,215646,11,9,0,5,1,0,1,0,0,40,39,0
3,50,4,234721,1,7,2,5,0,1,1,0,0,40,39,0
4,20,4,338409,9,13,2,10,5,1,0,0,0,40,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,30,4,215419,9,13,0,10,1,0,0,0,0,36,39,0
48838,60,2,321403,11,9,6,7,2,1,1,0,0,40,39,0
48839,30,4,374983,9,13,2,10,0,0,1,0,0,50,39,0
48840,40,4,83891,9,13,0,0,3,1,1,5455,0,40,39,0
48841,30,5,182148,9,13,2,3,0,0,1,0,0,60,39,1

In [30]:

features_df = dataset.iloc[:, :14]
features_array = features_df.to_numpy()

In [31]:
target_col = dataset['Probability']
target_array = target_col.to_numpy()

In [32]:
#feature_cols = [col for col in dataset.columns if col != 'Probability']
#target_col = 'Probability'
features_array

array([['30', 7, '77516', ..., '0', '40', 39],
       ['50', 6, '83311', ..., '0', '13', 39],
       ['30', 4, '215646', ..., '0', '40', 39],
       ...,
       ['30', 4, '374983', ..., '0', '50', 39],
       ['40', 4, '83891', ..., '0', '40', 39],
       ['30', 5, '182148', ..., '0', '60', 39]], dtype=object)

In [33]:
features_array = features_array.astype(int)

In [34]:
features_array

array([[    30,      7,  77516, ...,      0,     40,     39],
       [    50,      6,  83311, ...,      0,     13,     39],
       [    30,      4, 215646, ...,      0,     40,     39],
       ...,
       [    30,      4, 374983, ...,      0,     50,     39],
       [    40,      4,  83891, ...,      0,     40,     39],
       [    30,      5, 182148, ...,      0,     60,     39]])

In [35]:
target_array

array(['0', '0', '0', ..., '0', '0', '1'], dtype=object)

In [36]:
target_array = target_array.astype(int)

target_array

array([0, 0, 0, ..., 0, 0, 1])

In [68]:
#data = pd.DataFrame(columns=dataset[feature_cols])
#tar = pd.DataFrame(columns=dataset[target_col])

In [69]:
#import numpy as np
#X = np.array(dataset[feature_cols])
#y = np.array(dataset['Probability'])

In [70]:
#X

In [71]:
#y

In [37]:
from pymfe.mfe import MFE
mfe = MFE(summary=["quantiles"])
mfe.fit(features_array, target_array)
ft = mfe.extract()
print(ft)

/Users/mkr01/opt/anaconda3/lib/python3.9/site-packages/pymfe/_internal.py:1568: UserWarning: It is not possible make equal discretization
  warnings.warn("It is not possible make equal discretization")
/Users/mkr01/opt/anaconda3/lib/python3.9/site-packages/pymfe/statistical.py:1267: RuntimeWarning: invalid value encountered in log
  np.log(np.linalg.det(S_i)) for S_i in sample_cov_matrices
/Users/mkr01/opt/anaconda3/lib/python3.9/site-packages/pymfe/statistical.py:1272: RuntimeWarning: invalid value encountered in log
  * np.log(np.linalg.det(pooled_cov_mat))

(['attr_conc.quantiles.0', 'attr_conc.quantiles.1', 'attr_conc.quantiles.2', 'attr_conc.quantiles.3', 'attr_conc.quantiles.4', 'attr_ent.quantiles.0', 'attr_ent.quantiles.1', 'attr_ent.quantiles.2', 'attr_ent.quantiles.3', 'attr_ent.quantiles.4', 'attr_to_inst', 'best_node.quantiles.0', 'best_node.quantiles.1', 'best_node.quantiles.2', 'best_node.quantiles.3', 'best_node.quantiles.4', 'can_cor.quantiles.0', 'can_cor.quantiles.1', 'can_cor.quantiles.2', 'can_cor.quantiles.3', 'can_cor.quantiles.4', 'cat_to_num', 'class_conc.quantiles.0', 'class_conc.quantiles.1', 'class_conc.quantiles.2', 'class_conc.quantiles.3', 'class_conc.quantiles.4', 'class_ent', 'cor.quantiles.0', 'cor.quantiles.1', 'cor.quantiles.2', 'cor.quantiles.3', 'cor.quantiles.4', 'cov.quantiles.0', 'cov.quantiles.1', 'cov.quantiles.2', 'cov.quantiles.3', 'cov.quantiles.4', 'eigenvalues.quantiles.0', 'eigenvalues.quantiles.1', 'eigenvalues.quantiles.2', 'eigenvalues.quantiles.3', 'eigenvalues.quantiles.4', 'elite_nn.quantiles.0', 'elite_nn.quantiles.1', 'elite_nn.quantiles.2', 'elite_nn.quantiles.3', 'elite_nn.quantiles.4', 'eq_num_attr', 'freq_class.quantiles.0', 'freq_class.quantiles.1', 'freq_class.quantiles.2', 'freq_class.quantiles.3', 'freq_class.quantiles.4', 'g_mean.quantiles.0', 'g_mean.quantiles.1', 'g_mean.quantiles.2', 'g_mean.quantiles.3', 'g_mean.quantiles.4', 'gravity', 'h_mean.quantiles.0', 'h_mean.quantiles.1', 'h_mean.quantiles.2', 'h_mean.quantiles.3', 'h_mean.quantiles.4', 'inst_to_attr', 'iq_range.quantiles.0', 'iq_range.quantiles.1', 'iq_range.quantiles.2', 'iq_range.quantiles.3', 'iq_range.quantiles.4', 'joint_ent.quantiles.0', 'joint_ent.quantiles.1', 'joint_ent.quantiles.2', 'joint_ent.quantiles.3', 'joint_ent.quantiles.4', 'kurtosis.quantiles.0', 'kurtosis.quantiles.1', 'kurtosis.quantiles.2', 'kurtosis.quantiles.3', 'kurtosis.quantiles.4', 'leaves', 'leaves_branch.quantiles.0', 'leaves_branch.quantiles.1', 'leaves_branch.quantiles.2', 'leaves_branch.quantiles.3', 'leaves_branch.quantiles.4', 'leaves_corrob.quantiles.0', 'leaves_corrob.quantiles.1', 'leaves_corrob.quantiles.2', 'leaves_corrob.quantiles.3', 'leaves_corrob.quantiles.4', 'leaves_homo.quantiles.0', 'leaves_homo.quantiles.1', 'leaves_homo.quantiles.2', 'leaves_homo.quantiles.3', 'leaves_homo.quantiles.4', 'leaves_per_class.quantiles.0', 'leaves_per_class.quantiles.1', 'leaves_per_class.quantiles.2', 'leaves_per_class.quantiles.3', 'leaves_per_class.quantiles.4', 'lh_trace', 'linear_discr.quantiles.0', 'linear_discr.quantiles.1', 'linear_discr.quantiles.2', 'linear_discr.quantiles.3', 'linear_discr.quantiles.4', 'mad.quantiles.0', 'mad.quantiles.1', 'mad.quantiles.2', 'mad.quantiles.3', 'mad.quantiles.4', 'max.quantiles.0', 'max.quantiles.1', 'max.quantiles.2', 'max.quantiles.3', 'max.quantiles.4', 'mean.quantiles.0', 'mean.quantiles.1', 'mean.quantiles.2', 'mean.quantiles.3', 'mean.quantiles.4', 'median.quantiles.0', 'median.quantiles.1', 'median.quantiles.2', 'median.quantiles.3', 'median.quantiles.4', 'min.quantiles.0', 'min.quantiles.1', 'min.quantiles.2', 'min.quantiles.3', 'min.quantiles.4', 'mut_inf.quantiles.0', 'mut_inf.quantiles.1', 'mut_inf.quantiles.2', 'mut_inf.quantiles.3', 'mut_inf.quantiles.4', 'naive_bayes.quantiles.0', 'naive_bayes.quantiles.1', 'naive_bayes.quantiles.2', 'naive_bayes.quantiles.3', 'naive_bayes.quantiles.4', 'nodes', 'nodes_per_attr', 'nodes_per_inst', 'nodes_per_level.quantiles.0', 'nodes_per_level.quantiles.1', 'nodes_per_level.quantiles.2', 'nodes_per_level.quantiles.3', 'nodes_per_level.quantiles.4', 'nodes_repeated.quantiles.0', 'nodes_repeated.quantiles.1', 'nodes_repeated.quantiles.2', 'nodes_repeated.quantiles.3', 'nodes_repeated.quantiles.4', 'nr_attr', 'nr_bin', 'nr_cat', 'nr_class', 'nr_cor_attr', 'nr_disc', 'nr_inst', 'nr_norm', 'nr_num', 'nr_outliers', 'ns_ratio', 'num_to_cat', 'one_nn.quantiles.0', 'one_nn.quantiles.1', 'one_nn.quantiles.2', 'one_nn.quantiles.3', 'one_nn.quantiles.4', 'p_trace', 'random_node.quantiles.0', 'random_node.quantiles.1', 'random_node.quantiles.2', 'random_node.quantiles.3', 'random_node.quantiles.4', 'range.quantiles.0', 'range.quantiles.1', 'range.quantiles.2', 'range.quantiles.3', 'range.quantiles.4', 'roy_root', 'sd.quantiles.0', 'sd.quantiles.1', 'sd.quantiles.2', 'sd.quantiles.3', 'sd.quantiles.4', 'sd_ratio', 'skewness.quantiles.0', 'skewness.quantiles.1', 'skewness.quantiles.2', 'skewness.quantiles.3', 'skewness.quantiles.4', 'sparsity.quantiles.0', 'sparsity.quantiles.1', 'sparsity.quantiles.2', 'sparsity.quantiles.3', 'sparsity.quantiles.4', 't_mean.quantiles.0', 't_mean.quantiles.1', 't_mean.quantiles.2', 't_mean.quantiles.3', 't_mean.quantiles.4', 'tree_depth.quantiles.0', 'tree_depth.quantiles.1', 'tree_depth.quantiles.2', 'tree_depth.quantiles.3', 'tree_depth.quantiles.4', 'tree_imbalance.quantiles.0', 'tree_imbalance.quantiles.1', 'tree_imbalance.quantiles.2', 'tree_imbalance.quantiles.3', 'tree_imbalance.quantiles.4', 'tree_shape.quantiles.0', 'tree_shape.quantiles.1', 'tree_shape.quantiles.2', 'tree_shape.quantiles.3', 'tree_shape.quantiles.4', 'var.quantiles.0', 'var.quantiles.1', 'var.quantiles.2', 'var.quantiles.3', 'var.quantiles.4', 'var_importance.quantiles.0', 'var_importance.quantiles.1', 'var_importance.quantiles.2', 'var_importance.quantiles.3', 'var_importance.quantiles.4', 'w_lambda', 'worst_node.quantiles.0', 'worst_node.quantiles.1', 'worst_node.quantiles.2', 'worst_node.quantiles.3', 'worst_node.quantiles.4'], [5.727151189366362e-05, 0.001821037076460496, 0.006912306961637541, 0.014162242959654986, 0.927539542034787, 0.3179017246649503, 0.6769240585536828, 1.951781180086671, 2.728136327568471, 5.1699230069650675, 0.00028663854878997584, 0.7606470106470107, 0.7606470106470107, 0.7606715094176711, 0.7608128226859036, 0.7608517608517609, 0.5094212263121097, 0.5094212263121097, 0.5094212263121097, 0.5094212263121097, 0.5094212263121097, 0.0, 7.654152757563568e-05, 0.0071027285785841224, 0.014823502975992891, 0.040986600422044064, 0.11589484390870688, 0.7938438393644257, 0.0016140993455206157, 0.013286698406230361, 0.03741678535215459, 0.0778671177811297, 0.5797968852311937, 0.006484497625182269, 0.14452288872409036, 1.5173272829613649, 285.148068783687, 2916791.4789536437, 0.11796434931579083, 2.082606167382724, 17.431829774980855, 169.46564350682502, 11152210956.573475, 0.6756756756756757, 0.6802825552825553, 0.6832514332514332, 0.6845311220311221, 0.6853633572159672, 12.806518025615137, 0.23928176569346055, 0.3696408828467303, 0.5, 0.6303591171532698, 0.7607182343065395, 0.0, 0.0, 0.0, 7.2492546439721846, 160003.39315358704, 4201.674177981582, 0.0, 0.0, 0.0, 6.782637304102357, 126265.32242102736, 3488.714285714286, 0.0, 0.0, 2.5, 4.5, 120091.5, 1.0898630773864106, 1.4574723284085696, 2.6052968178912588, 3.4385102935223673, 5.96184241997179, -1.4877075690816042, -0.4980951290368194, 1.0493458333730172, 5.280148399555856, 152.67096790524675, 7721, 4.0, 18.0, 22.0, 27.0, 62.0, 2.0474182056426847e-05, 2.0474182056426847e-05, 4.0948364112853693e-05, 8.189672822570739e-05, 0.0713934728307604, 30884.0, 112445212.44444445, 1472010053.8181818, 38381299181.03704, 5.7430367335932035e+20, 0.4718300738246341, 0.485915036912317, 0.5, 0.5140849630876829, 0.5281699261753658, 0.3504571038729997, 0.8085585585585585, 0.8114250614250614, 0.8155389478060922, 0.8166973791973792, 0.8185913185913186, 0.0, 0.0, 1.4826, 4.07715, 89394.10829999999, 1.0, 6.5, 15.5, 91.75, 1490400.0, 0.14495720895950207, 2.9369446378117194, 10.183254166496049, 39.602642193194384, 189664.13459727284, 0.0, 1.0, 5.5, 25.25, 178144.5, 0.0, 0.0, 0.0, 0.75, 12285.0, 0.0013793296950026512, 0.021964705366470716, 0.05852934499763118, 0.08680509731916819, 0.1654227554330019, 0.7911547911547911, 0.7922616368112786, 0.7938376056339209, 0.7964782964782965, 0.8034398034398035, 7720, 551.4285714285714, 0.15806068547561525, 1.0, 6.25, 44.0, 212.25, 470.0, 49.0, 144.25, 181.5, 481.0, 3845.0, 14, 2, 0, 2, 0.01098901098901099, 1, 48842, 0.0, 14, 9, 31.047677255398497, nan, 0.7307534807534808, 0.737677170750354, 0.7393529893529893, 0.7411445536445536, 0.7465711361310133, 0.2595099858173337, 0.7606470106470107, 0.7606470106470107, 0.7606715094176711, 0.7608128226859036, 0.7608517608517609, 1.0, 6.5, 15.0, 86.75, 1478115.0, 0.3504571038729997, 0.3520612933095241, 1.5313147193002008, 4.106614528658322, 13.0602595573476, 105604.02542315728, nan, -3.8959979112215644, -0.5155968475714683, 0.16235718764119222, 1.2770202935780728, 11.893928406318857, 1.4585542297228138e-05, 0.013744688181572665, 0.06456418105007405, 0.13490292276557916, 0.49998976269937145, 0.0, 0.8534771036647786, 5.161724561523238, 27.179075957141883, 177397.70920630588, 0.0, 17.0, 21.0, 26.0, 62.0, 0.0, 4.620942731752941e-14, 1.5832483564922117e-08, 0.0011795911195728475, 0.16464864003499685, 1.3444106938820255e-17, 2.0116567611694336e-07, 5.245208740234375e-06, 6.866455078125e-05, 0.25, 0.12394715424677477, 2.346597373084932, 16.91816355409452, 170.71948444439255, 11152210185.574848, 0.0029357820705857816, 0.013625670132611005, 0.042761065051031805, 0.10501869970544497, 0.26003616291770776, 0.7404900141826662, 0.7606470106470107, 0.7606470106470107, 0.7606715094176711, 0.7608128226859036, 0.7608517608517609])

In [ ]:
## Save to csv  
#dataset.to_csv('Data/Adult/datanew.csv', index=False)

In [38]:
df = pd.DataFrame(ft)

In [39]:
df

,0,1,2,3,4,5,6,7,8,9,...,227,228,229,230,231,232,233,234,235,236
0,attr_conc.quantiles.0,attr_conc.quantiles.1,attr_conc.quantiles.2,attr_conc.quantiles.3,attr_conc.quantiles.4,attr_ent.quantiles.0,attr_ent.quantiles.1,attr_ent.quantiles.2,attr_ent.quantiles.3,attr_ent.quantiles.4,...,var_importance.quantiles.1,var_importance.quantiles.2,var_importance.quantiles.3,var_importance.quantiles.4,w_lambda,worst_node.quantiles.0,worst_node.quantiles.1,worst_node.quantiles.2,worst_node.quantiles.3,worst_node.quantiles.4
1,0.000057,0.001821,0.006912,0.014162,0.92754,0.317902,0.676924,1.951781,2.728136,5.169923,...,0.013626,0.042761,0.105019,0.260036,0.74049,0.760647,0.760647,0.760672,0.760813,0.760852

In [40]:
df.to_csv('quantiles.csv', index=False)