In [1]:
## load 
import pandas as pd
#dataset = pd.read_csv('Data/Adult/adult.data1.csv', sep=';')
dataset = pd.read_csv('Data/Adult/adult.data1.csv', sep=';', na_values='?')

In [8]:
#dataset

In [2]:
print(dataset.isna().sum())

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
Probability       0
dtype: int64

In [3]:
## Drop NULL values
dataset = dataset.dropna()

In [4]:
#dataset

In [5]:
print(dataset.isna().sum())

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
Probability       0
dtype: int64

In [6]:
print(dataset.head())

   age          workclass  fnlwgt   education  education-num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital-status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital-gain  capital-loss  hours-per-week  native-country Probability
0          2174             0              40   United-States       <=50K
1             0             0              13   United-States       <=50K
2             0             0              40   United-States       <=50K
3             0             0              40   United-States       <=50K
4             0             0              40            Cuba       <=50K

In [7]:
## check NULL values
print (dataset.isnull().values.sum())

0

In [8]:
## drop NULL values
dataset = dataset.dropna()

In [9]:
##number of rows
print("Number of rows: ",dataset.shape[0])

Number of rows:  48842

In [10]:
#print(dataset.age)

In [11]:
#print(dataset.sex)

In [12]:
#print(dataset.race)

In [13]:
#print(dataset.Probability)

In [14]:
#Change symbolics to numerics 
import numpy as np
dataset['sex'] = np.where(dataset['sex'] == ' Male', 1, 0)
dataset['race'] = np.where(dataset['race'] != ' White',1, 0)
dataset['Probability'] = np.where(dataset['Probability'] == ' <=50K', 0, 1)
#dataset['sex'] = dataset['sex'].map({'Male':0, 'female':1})

In [15]:
#print(dataset.Probability)

In [16]:
#print(dataset.race)

In [17]:
#print(dataset.sex)

In [18]:
#print(dataset.age)

In [19]:
## Discretize age
dataset['age'] = np.where(dataset['age'] >= 70, 70, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 60 ) & (dataset['age'] < 70), 60, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 50 ) & (dataset['age'] < 60), 50, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 40 ) & (dataset['age'] < 50), 40, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 30 ) & (dataset['age'] < 40), 30, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 20 ) & (dataset['age'] < 30), 20, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 10 ) & (dataset['age'] < 10), 10, dataset['age'])
dataset['age'] = np.where(dataset['age'] < 10, 0, dataset['age'])

In [20]:
#print(dataset.age)

In [21]:
 #dataset.to_csv('Data/Adult/datanew.csv', index=False)

In [22]:
print(dataset.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'Probability'],
      dtype='object')

In [23]:
#print(dataset)

In [24]:
print(dataset['native-country'].unique())

[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']

In [25]:
#print(dataset['education'].unique())

In [26]:
#print(dataset['relationship'].unique())

In [27]:
#print(dataset['occupation'].unique())

In [28]:
#dataset

In [29]:
#print(dataset.columns)

In [30]:
## drop categorical features 
##categorical_col = ['occupation','relationship','education','native-country','workclass','fnlwgt','marital-status']
##dataset = dataset.drop(categorical_col, axis=1)

In [31]:
#dataset

In [32]:
#print(dataset.columns)

In [33]:
##from sklearn.preprocessing import MinMaxScaler 
##scaler = MinMaxScaler()
##dataset = pd.DataFrame(scaler.fit_transform(dataset), columns = dataset.columns)

In [34]:
#dataset

In [35]:
 #Save 
#dataset.to_csv('Data/Adult/datanew.csv', index=False)

In [36]:
#dataset['workclass'].value_counts()

In [37]:
#dataset['workclass'].unique()

In [38]:
#dataset['education'].value_counts()

In [39]:
#dataset['occupation'].value_counts()

In [40]:
#dataset['native-country'].value_counts()

In [41]:
## Replace '?' marks with 'NA'
dataset = dataset.astype(str)
dataset = dataset.apply(lambda x: x.str.strip())
dataset = dataset.replace('?', 'NA')

In [42]:
#dataset

In [43]:
#print(dataset.columns)

In [44]:
#dataset

In [45]:
#dataset['workclass'].unique()

In [46]:
#dataset['workclass'].value_counts()

In [47]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

dataset.workclass = label_encoder.fit_transform(dataset.workclass)
dataset.occupation = label_encoder.fit_transform(dataset.occupation)
dataset.relationship = label_encoder.fit_transform(dataset.relationship)
dataset.education = label_encoder.fit_transform(dataset.education)

dataset = dataset.rename(columns={'native-country': 'native_country'})
dataset = dataset.rename(columns={'marital-status': 'marital_status'})

dataset.native_country = label_encoder.fit_transform(dataset.native_country)
dataset.marital_status = label_encoder.fit_transform(dataset.marital_status)

In [48]:
#dataset.workclass

In [49]:
## Covert as category from int number 
#dataset.workclass = dataset.workclass.astype('category')
#dataset.occupation = dataset.occupation.astype('category')
#dataset.relationship = dataset.relationship.astype('category')
#dataset.native_country = dataset.native_country.astype('category')
#dataset.marital_status = dataset.marital_status.astype('category')

In [50]:
#dataset['fnlwgt'].value_counts()

In [51]:
#dataset['capital-loss'].value_counts()

In [52]:
#dataset.describe(include = 'all')

In [53]:
#dataset.head(50)

In [54]:
#dataset['marital_status'].value_counts()

In [55]:
dataset.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native_country',
       'Probability'],
      dtype='object')

In [56]:
dataset

,age,workclass,fnlwgt,education,education-num,marital_status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native_country,Probability
0,30,7,77516,Bachelors,13,4,0,1,0,1,2174,0,40,39,0
1,50,6,83311,Bachelors,13,2,3,0,0,1,0,0,13,39,0
2,30,4,215646,HS-grad,9,0,5,1,0,1,0,0,40,39,0
3,50,4,234721,11th,7,2,5,0,1,1,0,0,40,39,0
4,20,4,338409,Bachelors,13,2,10,5,1,0,0,0,40,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,30,4,215419,Bachelors,13,0,10,1,0,0,0,0,36,39,0
48838,60,2,321403,HS-grad,9,6,7,2,1,1,0,0,40,39,0
48839,30,4,374983,Bachelors,13,2,10,0,0,1,0,0,50,39,0
48840,40,4,83891,Bachelors,13,0,0,3,1,1,5455,0,40,39,0
48841,30,5,182148,Bachelors,13,2,3,0,0,1,0,0,60,39,1

In [57]:

features_df = dataset.iloc[:, :14]
features_array = features_df.to_numpy()

In [58]:
target_col = dataset['Probability']
target_array = target_col.to_numpy()

In [59]:
#feature_cols = [col for col in dataset.columns if col != 'Probability']
#target_col = 'Probability'
features_array

array([['30', 7, '77516', ..., '0', '40', 39],
       ['50', 6, '83311', ..., '0', '13', 39],
       ['30', 4, '215646', ..., '0', '40', 39],
       ...,
       ['30', 4, '374983', ..., '0', '50', 39],
       ['40', 4, '83891', ..., '0', '40', 39],
       ['30', 5, '182148', ..., '0', '60', 39]], dtype=object)

In [60]:
features_array = features_array.astype(float)

ValueError: could not convert string to float: 'Bachelors'

In [67]:
target_array

array(['0', '0', '0', ..., '0', '0', '1'], dtype=object)

In [68]:
#data = pd.DataFrame(columns=dataset[feature_cols])
#tar = pd.DataFrame(columns=dataset[target_col])

In [69]:
#import numpy as np
#X = np.array(dataset[feature_cols])
#y = np.array(dataset['Probability'])

In [70]:
#X

In [71]:
#y

In [ ]:
from pymfe.mfe import MFE
mfe = MFE(summary=["quantiles"])
mfe.fit(features_array, target_array)
ft = mfe.extract()
print(ft)

/Users/mkr01/opt/anaconda3/lib/python3.9/site-packages/pymfe/_internal.py:1568: UserWarning: It is not possible make equal discretization
  warnings.warn("It is not possible make equal discretization")

In [ ]:
## Save to csv  
#dataset.to_csv('Data/Adult/datanew.csv', index=False)