In [193]:
## load 
import pandas as pd
dataset = pd.read_csv('Data/Adult/adult.data1.csv', sep=';')

In [194]:
print(dataset.head())

   age          workclass  fnlwgt   education  education-num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital-status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital-gain  capital-loss  hours-per-week  native-country Probability
0          2174             0              40   United-States       <=50K
1             0             0              13   United-States       <=50K
2             0             0              40   United-States       <=50K
3             0             0              40   United-States       <=50K
4             0             0              40            Cuba       <=50K

In [195]:
## check NULL values
#print (dataset.isnull().values.sum())

In [196]:
## drop NULL values
#dataset = dataset_orig.dropna()

In [197]:
##number of rows
print("Number of rows: ",dataset.shape[0])

Number of rows:  48842

In [198]:
print(dataset.age)

0        39
1        50
2        38
3        53
4        28
         ..
48837    39
48838    64
48839    38
48840    44
48841    35
Name: age, Length: 48842, dtype: int64

In [199]:
print(dataset.sex)

0           Male
1           Male
2           Male
3           Male
4         Female
          ...
48837     Female
48838       Male
48839       Male
48840       Male
48841       Male
Name: sex, Length: 48842, dtype: object

In [200]:
print(dataset.race)

0                      White
1                      White
2                      White
3                      Black
4                      Black
                ...
48837                  White
48838                  Black
48839                  White
48840     Asian-Pac-Islander
48841                  White
Name: race, Length: 48842, dtype: object

In [201]:
print(dataset.Probability)

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
48837     <=50K
48838     <=50K
48839     <=50K
48840     <=50K
48841      >50K
Name: Probability, Length: 48842, dtype: object

In [202]:
#Change symbolics to numerics 
import numpy as np
dataset['sex'] = np.where(dataset['sex'] == ' Male', 1, 0)
dataset['race'] = np.where(dataset['race'] != ' White',1, 0)
dataset['Probability'] = np.where(dataset['Probability'] == ' <=50K', 0, 1)
#dataset['sex'] = dataset['sex'].map({'Male':0, 'female':1})

In [203]:
print(dataset.Probability)

0        0
1        0
2        0
3        0
4        0
        ..
48837    0
48838    0
48839    0
48840    0
48841    1
Name: Probability, Length: 48842, dtype: int64

In [204]:
print(dataset.race)

0        0
1        0
2        0
3        1
4        1
        ..
48837    0
48838    1
48839    0
48840    1
48841    0
Name: race, Length: 48842, dtype: int64

In [205]:
print(dataset.sex)

0        1
1        1
2        1
3        1
4        0
        ..
48837    0
48838    1
48839    1
48840    1
48841    1
Name: sex, Length: 48842, dtype: int64

In [206]:
print(dataset.age)

0        39
1        50
2        38
3        53
4        28
         ..
48837    39
48838    64
48839    38
48840    44
48841    35
Name: age, Length: 48842, dtype: int64

In [211]:
## Discretize age
dataset['age'] = np.where(dataset['age'] >= 70, 70, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 60 ) & (dataset['age'] < 70), 60, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 50 ) & (dataset['age'] < 60), 50, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 40 ) & (dataset['age'] < 50), 40, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 30 ) & (dataset['age'] < 40), 30, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 20 ) & (dataset['age'] < 30), 20, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 10 ) & (dataset['age'] < 10), 10, dataset['age'])
dataset['age'] = np.where(dataset['age'] < 10, 0, dataset['age'])

In [212]:
print(dataset.age)

0        30
1        50
2        30
3        50
4        20
         ..
48837    30
48838    60
48839    30
48840    40
48841    30
Name: age, Length: 48842, dtype: int64

In [213]:
 dataset.to_csv('Data/Adult/datanew.csv', index=False)

In [216]:
print(dataset.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'Probability'],
      dtype='object')

In [219]:
print(dataset.dtypes)

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race               int64
sex                int64
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
Probability        int64
dtype: object

In [221]:
print(dataset['native-country'].unique())

[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']

In [222]:
print(dataset['education'].unique())

[' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']

In [224]:
print(dataset['relationship'].unique())

[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']

In [225]:
print(dataset['occupation'].unique())

[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']