In [471]:
## load 
import pandas as pd
#dataset = pd.read_csv('Data/Adult/adult.data1.csv', sep=';')
dataset = pd.read_csv('Data/Adult/adult.data1.csv', sep=';', na_values='?')

In [621]:
#dataset

In [473]:
print(dataset.isna().sum())

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
Probability       0
dtype: int64

In [474]:
## Drop NULL values
dataset = dataset.dropna()

In [620]:
#dataset

In [476]:
print(dataset.isna().sum())

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
Probability       0
dtype: int64

In [622]:
print(dataset.head())

  age workclass  fnlwgt  education education-num marital_status occupation  \
0  30         7   77516          9            13              4          0
1  50         6   83311          9            13              2          3
2  30         4  215646         11             9              0          5
3  50         4  234721          1             7              2          5
4  20         4  338409          9            13              2         10

  relationship race sex capital-gain capital-loss hours-per-week  \
0            1    0   1         2174            0             40
1            0    0   1            0            0             13
2            1    0   1            0            0             40
3            0    1   1            0            0             40
4            5    1   0            0            0             40

  native_country Probability
0             39           0
1             39           0
2             39           0
3             39           0
4              4           0

In [481]:
## check NULL values
print (dataset.isnull().values.sum())

0

In [483]:
## drop NULL values
dataset = dataset.dropna()

In [484]:
##number of rows
print("Number of rows: ",dataset.shape[0])

Number of rows:  48842

In [619]:
#print(dataset.age)

In [618]:
#print(dataset.sex)

In [612]:
#print(dataset.race)

In [611]:
#print(dataset.Probability)

In [489]:
#Change symbolics to numerics 
import numpy as np
dataset['sex'] = np.where(dataset['sex'] == ' Male', 1, 0)
dataset['race'] = np.where(dataset['race'] != ' White',1, 0)
dataset['Probability'] = np.where(dataset['Probability'] == ' <=50K', 0, 1)
#dataset['sex'] = dataset['sex'].map({'Male':0, 'female':1})

In [610]:
#print(dataset.Probability)

In [609]:
#print(dataset.race)

In [607]:
#print(dataset.sex)

In [608]:
#print(dataset.age)

In [494]:
## Discretize age
dataset['age'] = np.where(dataset['age'] >= 70, 70, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 60 ) & (dataset['age'] < 70), 60, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 50 ) & (dataset['age'] < 60), 50, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 40 ) & (dataset['age'] < 50), 40, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 30 ) & (dataset['age'] < 40), 30, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 20 ) & (dataset['age'] < 30), 20, dataset['age'])
dataset['age'] = np.where((dataset['age'] >= 10 ) & (dataset['age'] < 10), 10, dataset['age'])
dataset['age'] = np.where(dataset['age'] < 10, 0, dataset['age'])

In [606]:
#print(dataset.age)

In [496]:
 #dataset.to_csv('Data/Adult/datanew.csv', index=False)

In [497]:
print(dataset.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'Probability'],
      dtype='object')

In [605]:
#print(dataset)

In [499]:
print(dataset['native-country'].unique())

[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']

In [615]:
#print(dataset['education'].unique())

In [616]:
#print(dataset['relationship'].unique())

In [617]:
#print(dataset['occupation'].unique())

In [604]:
#dataset

In [603]:
#print(dataset.columns)

In [370]:
## drop categorical features 
##categorical_col = ['occupation','relationship','education','native-country','workclass','fnlwgt','marital-status']
##dataset = dataset.drop(categorical_col, axis=1)

In [602]:
#dataset

In [614]:
#print(dataset.columns)

In [375]:
##from sklearn.preprocessing import MinMaxScaler 
##scaler = MinMaxScaler()
##dataset = pd.DataFrame(scaler.fit_transform(dataset), columns = dataset.columns)

In [600]:
#dataset

In [380]:
 #Save 
#dataset.to_csv('Data/Adult/datanew.csv', index=False)

In [599]:
#dataset['workclass'].value_counts()

In [598]:
#dataset['workclass'].unique()

In [596]:
#dataset['education'].value_counts()

In [597]:
#dataset['occupation'].value_counts()

In [595]:
#dataset['native-country'].value_counts()

In [521]:
## Replace '?' marks with 'NA'
dataset = dataset.astype(str)
dataset = dataset.apply(lambda x: x.str.strip())
dataset = dataset.replace('?', 'NA')

In [594]:
#dataset

In [593]:
#print(dataset.columns)

In [592]:
#dataset

In [590]:
#dataset['workclass'].unique()

In [591]:
#dataset['workclass'].value_counts()

In [541]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

dataset.workclass = label_encoder.fit_transform(dataset.workclass)
dataset.occupation = label_encoder.fit_transform(dataset.occupation)
dataset.relationship = label_encoder.fit_transform(dataset.relationship)

dataset = dataset.rename(columns={'native-country': 'native_country'})
dataset = dataset.rename(columns={'marital-status': 'marital_status'})

dataset.native_country = label_encoder.fit_transform(dataset.native_country)
dataset.marital_status = label_encoder.fit_transform(dataset.marital_status)

In [588]:
#dataset.workclass

In [573]:
## Covert as category from int number 
dataset.workclass = dataset.workclass.astype('category')
dataset.occupation = dataset.occupation.astype('category')
dataset.relationship = dataset.relationship.astype('category')
dataset.native_country = dataset.native_country.astype('category')
dataset.marital_status = dataset.marital_status.astype('category')

In [574]:
#dataset['fnlwgt'].value_counts()

In [582]:
#dataset['capital-loss'].value_counts()

In [587]:
#dataset.describe(include = 'all')

In [571]:
#dataset.head(50)

In [613]:
#dataset['marital_status'].value_counts()

In [ ]:
## Save to csv  
#dataset.to_csv('Data/Adult/datanew.csv', index=False)